* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
}

body {
    background-image: url("./faq-accordion-main/assets/images/background-pattern-mobile.svg");
    background-color: hsl(275, 100%, 97%);
    background-repeat: no-repeat;

    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.faq-container {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px 0;
    background-color: white;
    margin: 0 1rem;
    padding: 25px 20px;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 20px;
}

.star {
    width: 30px;
    height: 30px;
}

.header h1 {
    font-size: 1.8rem;
}

.q {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

img:not(.star) {
    cursor: pointer;
}

.q h2 {
    flex-basis: 70%;
    cursor: pointer;
}

.q h2:hover {
    color: hsl(293, 69%, 62%);
}

.answer {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.answer.show {
    max-height: 200px;
    opacity: 1;
}

.answer span {
    color: hsl(292, 16%, 49%);
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 1.5rem;
}

@media (min-width: 375px) {
    body {
        background-image: url("./faq-accordion-main/assets/images/background-pattern-desktop.svg");
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .header h1 {
        font-size: 3rem;
    }

    .star {
        height: 40px;
        width: 40px;
    }

    .q h2 {
        flex-basis: 90%;
        font-size: 1.2rem;
    }
}

@media (min-width: 500px) {
    .faq-container {
        padding: 40px 40px;
    }
}